@font-face {
  font-family: 'Heebo';
   src: url('../fonts/Heebo-Black.ttf');
}

html {
  height: 100%;

  }


body {
  height: 100%;

}


p {

    font-family: 'Heebo', sans-serif;
    margin: 0 !important;
    font-size: 90%;
}


#wrapper {
  margin: 9px 5px 0 5px;
  display: flex;
  padding: 5px;
  height: 98%;
}


/* Start sidebar */




#sidebar {

   border: 3px solid black;
   width: 40%;
   height: 99%;
   overflow-y: hidden;
   display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: flex-start;


}



#main_header{

    height: 15%;
    width: 100%;
    margin-bottom: 5px;

}

#main_tma {

    height: 100%;
    width: 100%;

}

#title {

   height: 33%;
   max-height: 150px;
   width: 100%;
   flex-grow: 1;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-family: 'Heebo', sans-serif;
   font-size: 300%;




}


#header_container {


    width: 60%;
    flex: 1;

}

.header_image {

  width: 100%;
  height: 100%;
  border: 1px solid white;


}

#kfns {


    height: 100%;
    width: 20%;

}

#kfns_image {


    height: 100%;
    width: 100%;



}



#chooser_wrap {




}

#chooser {


  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:1px;



}

.chooser_button {

  border: 0.5px solid black;
  height: 30px;
  flex-grow: 1;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Heebo', sans-serif;
  color: white;
  background-color: black;
  font-size: 100%;
  letter-spacing: 1.3px;
  padding: 10px;
  cursor: pointer;


}





.chooser_button:hover {


    transform: scale(0.96);
    transition-duration: 0.2s;



}

.button_chose {

    border: 1px solid red;

}


#bttn {

margin-left:3px;
height: 70%;
}



#search_container {


  display: none;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-family: 'Heebo', sans-serif;
  font-size: 120%;
  background-color: black;
  width: 100%;
  border: 1px solid white;


}

#no_results{

    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: black;
    width: 100%;
    font-family: 'Heebo', sans-serif;
    color: white;


}

#search_term{

    height: 70%;
    max-width: 25%;
    font-size: 60%;
}

.btn {

  font-size: 70%;


}


ol {

  float: left;

}


#selectmenu {

display: flex;
justify-content: center;
align-items: center;
margin: 5px 0 15px 0;

}


#results_container {

  height: 100%;
  max-width: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-y: -moz-scrollbars-vertical;
  overflow-x: hidden;




}


#password_window {

    margin-top:10px;
    width: 100%;
    height:60%;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: 'Heebo', sans-serif;
    flex-direction: column;
}


.btn {
    margin: 2px;

}




#result_object {
  display:none;

}


.search_result {

  border-bottom: 1px solid black;
  height: 70px;
  justify-content: center;
  flex-wrap: wrap;
  display:flex;
  flex-direction: column;
  background-color: #fafafa;

}


.gripper_container {

    height: 30%;
    width: 7%;
    order: 3;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    cursor: move;



}

.gripper_cell {

    width: 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;

}

.gripper {

    width: 100%;
    border: 2px solid grey;
    background-color: #fafafa;

}


.search_result:hover {


}

#audio_container {

  height: 100%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  order:2;
  background-color: #fafafa;





}


.fa:active {

    transform: scale(0.85);

}

.search_result #audio_container .play{

 width: 100%;
 background-color: #fafafa;
 margin-top: 10px;
 margin-bottom: 10px;


}

.fa-play-circle:hover, .fa-pause-circle:hover{


}

#meta_display {

  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow:1;
  justify-content: center;
  order:1;
  background-color: black;
  border: 1px solid white;
  cursor: move;
  padding: 5px;
  font-size: 80%;


}


.highlight {
    background-color: yellow;
}


#main_wrap {

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}



#pw_window {

  display: none;
  justify-content: center;
  align-items: center;

}





/* UPLOAD WINDOW */


#upload_window{

    padding: 20px;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Heebo', sans-serif;
    overflow-y: auto;
    overflow-y: -moz-scrollbars-vertical;
    overflow-x: hidden;

}


#audio, #speaker, #tags, #transcription {

    margin-bottom: 15px;

}



#upload_submit{




}


.search_result:hover {


    transform: scale(0.99);

}


.


/* End sidebar */

#main_header {
    width: 89.3%;
    height:50px;
    border: 1px solid black;
    margin-bottom: 5px;

}


#tma_title {

height: 15%;
width: 89%;
border:1px solid black;
}

#tma_main {

height: 100%;
width: 100%;

}

#instructions {

    margin-top: 10px;
    display: flex;
    font-family: 'Heebo', sans-serif;
    justify-content: center;
    align-items: center;

}

#main_grid {

    width: 99%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: white;


}


.row {

  width: 90%;
  flex: 1;
  display: flex;


}


.row:last-child {

  margin-bottom: 0px;

}


.cell {


  width: 100%;
  flex: 1;
  margin: 5px;
  font-size: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition-duration: 0.1s;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 6px 10px 0 rgba(0,0,0,0.19);
  border: 1px solid black;
  background-color: white;




}

.cell_trans {

    align-self: flex-end;

}

.cell_top{

    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    background-color: black;
    font-family: 'Heebo', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    align-self: flex-start;

}


.cell_bottom{

    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-size: 90%;
    padding: 5px;


}

.cell:hover {

    border: 1px solid red;
    transition-duration: 0.1s;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.cell:active {

   background-color: darken(#444, 30%);
   transform: scale(0.90);
   transition-duration: 0.2s;


}


.cell:last-child {

  margin-right: 0px;

}





#speaker {

    width: 100%
    text-align: center;


}

#transcription {


  color: black;
  text-align: center;
  font-size: 90%;


}

.transcripted_text{
    font-size: 90%;

}







/* Media Queries for Mobile */

@media screen and (max-width: 760px)
{


    #main_wrap {

        display: none;


    }

    #wrapper {

        display: flex;
        justify-content: center;
        align-items: center;

    }


    #sidebar {

        width: 100%;

    }



    #audio_container {

        width: 45%;

    }

    .play {

        width: 70%;

    }

    #meta_display p {

        font-size: 50%;

    }

    #meta_display {

        width: 40%;

    }


    #title {

    height: 20%;
    }

    .search_result {

        height: 50px;

    }



    #search_container{

    height: 60px;

    }

    #bttn{


        font-size: 70%;
    }

    #upload_button {

        display: none;
    }


    .gripper_cell {

        display: none;

    }


}


@media screen and (max-width: 1000px)
{


     #meta_display p {

        font-size: 80%;

    }

    #meta_display {

        width: 60%;
    }

    #title {

    height: 20%;
    }

     .search_result {
        height: 50px;

    }

    #upload_button {

        display: none;
    }




}


@media screen and (max-height: 400px)
{


    .chooser_button {

        height: 20px;

    }




}


@media screen and (max-height: 460px)
{


    .chooser_button {

        height: 10px;

    }


}


@media screen and (max-width : 1000px) and (max-height : 600px)
{


    #main_wrap {

        display: none;


    }

    #wrapper {

        display: flex;
        justify-content: center;
        align-items: center;

    }


    #sidebar {

        width: 100%;

    }

    .container {

        display: none;

    }


    #audio_container {

        width: 40%;
        padding-right: 10px;

    }

    .play {

        width: 70%;

    }

    #meta_display p {

        font-size: 80%;

    }

    #meta_display {

        width: 60%;

    }


    #title {

    height: 20%;
    }

    .search_result {
        height: 50px;

    }

    #search_container{

    height: 60px;

    }

    #bttn{


        font-size: 50%;
    }

    #upload_button {

        display: none;
    }

    .chooser_button {

        height: 10px;

    }

    #search_term {

        height: 50%;
    }

}



@media screen and (max-width : 600px) and (max-height : 400px)
{


    #main_wrap {

        display: none;


    }


    .small_hide{

        display:flex;
        height: 5px;


    }




    #wrapper {

        display: flex;
        justify-content: center;
        align-items: center;

    }


    #sidebar {

        width: 100%;

    }

    .container {

        display: none;

    }


    #audio_container {

        width: 45%;
        padding-right: 10px;

    }

    .play {

        width: 70%;

    }

    #meta_display p {

        font-size: 50%;

    }

    #meta_display {

        width: 60%;

    }


    #title {

    height: 20%;
    }

    .search_result {
        height: 50px;

    }

    #search_container{

    height: 60px;

    }

    #bttn{


        font-size: 50%;
    }

    #upload_button {

        display: none;
    }

    .chooser_button {

        height: 10px;

    }

    #search_term {

        height: 50%;
    }

}



