@font-face {
  font-family: 'Heebo';
   src: url('../fonts/Heebo-Black.ttf');
}

html {
  height: 100%;

  }


body {
  height: 100%;

}


p {

    font-family: 'Heebo', sans-serif;
    margin: 0 !important;
    font-size: 90%;
}


#wrapper {
  margin: 9px 5px 0 5px;
  display: flex;
  padding: 10px;
  height: 100%;
}


/* Start sidebar */




#sidebar {

   border: 3px solid black;
   width: 40%;
   height: 99%;
   overflow-y: hidden;
   display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: flex-start;


}



#title {

   height: 90px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Heebo', sans-serif;
   font-size: 300%;
   margin-top: 10px;
   justify-content: center;
   align-items: center;
   padding-top: 5px;


}




.header_image {



  margin-top: 8px;
  max-width:100%;
  margin-bottom: 10px;
  max-height: 100px;



}

#insidestllogo {
  height: 78px;

}


#chooser_wrap {


    margin-top: 5px;

}

#chooser {


  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;



}

.chooser_button {

  border: 0.5px solid black;
  height: 30px;
  flex-grow: 1;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Heebo', sans-serif;
  color: white;
  background-color: black;
  font-size: 100%;
  letter-spacing: 1.3px;
  padding: 10px;
  cursor: pointer;


}

.chooser_button:hover {

    border: 2px solid red;



}

.button_chose {

    border: 2px solid red;

}

#bttn {

margin-left:3px;
height: 70%;
}

#upload_div {

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75%;
  text-align: center;

}


#search_container {


  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-family: 'Heebo', sans-serif;
  font-size: 120%;
  background-color: black;
  width: 100%;
  border: 1px solid white;


}

#search_term{

    height: 70%;
    max-width: 25%;
    font-size: 60%;
}

.btn {

  font-size: 70%;


}


ol {

  float: left;

}


#selectmenu {

display: flex;
justify-content: center;
align-items: center;
margin: 5px 0 15px 0;

}

#instructions {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 70%;

}



#length_div {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;

}


#length_display {

    color: red;
    font-size: 70%;
}


#results_container {

  height: 600px;
  max-width: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-y: -moz-scrollbars-vertical;
  overflow-x: hidden;




}


#no_results {

  display: none;
  text-align: center;
  font-size: 2em;

}



#result_object {
  display:none;

}


.search_result {

  border-bottom: 1px solid black;
  height: 70px;
  justify-content: center;
  flex-wrap: wrap;
  display:flex;
  flex-direction: column;
  background-color: #fafafa;

}


#test_object {


  border-bottom: 1px solid black;
  height: 70px;
  justify-content: center;
  flex-wrap: wrap;
  display:flex;
  flex-direction: column;
  background-color: #fafafa;

}
.gripper_container {

    height: 30%;
    width: 7%;
    order: 3;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    cursor: move;



}

.gripper_cell {

    width: 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;

}

.gripper {

    width: 100%;
    border: 2px solid grey;
    background-color: #fafafa;

}


.search_result:hover {


}

#audio_container {

  height: 100%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  order:2;
  background-color: #fafafa;





}


.fa:active {

    transform: scale(0.85);

}

.search_result #audio_container .play{

 width: 100%;
 background-color: #fafafa;
 margin-top: 10px;
 margin-bottom: 10px;


}

#meta_display {

  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow:1;
  justify-content: center;
  order:1;
  background-color: black;
  border: 1px solid white;
  cursor: move;
  padding: 5px;
  font-size: 80%;


}


.highlight {
    background-color: yellow;
}


#main_wrap {

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}



#pw_window {

  display: none;
  justify-content: center;
  align-items: center;

}


#upload_pop {

  display:none;
  justify-content: center;
  align-items: center;

}


#upload_window {

  width: 90%;
  height: 80%;
  display: none;
  justify-content: center;
  align-items: center;

}

/* End sidebar */

#main_header {
    width: 89.3%;
    height:50px;
    border: 1px solid black;
    margin-bottom: 5px;

}

#main_grid {

width: 97%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
flex: 1;

}


.row {

  width: 90%;
  flex: 1;
  display: flex;

}


.row:last-child {

  margin-bottom: 0px;

}


.cell {

  border: 1px solid black;
  width: 100%;
  flex: 1;
  margin: 5px;
  font-size: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition-duration: 0.1s;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 6px 10px 0 rgba(0,0,0,0.19);



}

.cell_top{

    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    background-color: black;
    font-family: 'Heebo', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;


}


.cell_bottom{

    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-size: 90%;
    padding: 5px;


}

.cell:hover {

    /* border: 1px solid red; */
    transition-duration: 0.1s;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.cell:active {

   background-color: darken(#444, 10%);
   transform: scale(0.95);


}


.cell:last-child {

  margin-right: 0px;

}





#speaker {

    width: 100%
    text-align: center;


}

#transcription {


  color: black;
  text-align: center;
  font-size: 90%;


}

.transcripted_text{
    font-size: 90%;

}




/* Media Queries for Mobile */

@media screen and (max-width: 600px)
{


    #main_wrap {

        display: none;


    }

    #wrapper {

        display: flex;
        justify-content: center;
        align-items: center;

    }


    #sidebar {

        width: 100%;

    }

    .gripper_container {

        display: none;

    }


    #audio_container {

        width: 45%;

    }

    .play {

        width: 70%;

    }

    #meta_display p {

        font-size: 50%;

    }

    #meta_display {

        width: 40%;

    }


}


@media screen and (max-width: 1000px)
{


     #meta_display p {

        font-size: 60%;

    }





}

