<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>#ThinkAboutIt</title>
     <link rel='stylesheet' type='text/css' href='static/css/styles.css' media='screen'>
    <link rel="icon" href="../static/img/bryce.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Heebo:800" rel="stylesheet">

  </head>

  <body>
    <!--Begin Body-->

    <div id="wrapper">
        <div id="sidebar">

            <div id="title">




              <!--  <a href="http://www.insidestl.com" target="_blank"><img id="insidestllogo" src="../static/img/590logo.png"></a>

                  -->
                <img class='header_image' src="../static/img/soundboards.jpg">



            </div><!--End title div-->

                    <div id="chooser_wrap">
                        <div id="chooser">
                            <div class="chooser_button">Doug Vaughn</div>
                            <div class="chooser_button">The Plow Boy</div>
                            <div class="chooser_button">Larry Nickel</div>
                            <div class="chooser_button">Mike Lee</div>
                            <div class="chooser_button">Tim McKernan</div>
                            <div class="chooser_button">Charlie Marlow</div>
                            <div class="chooser_button">Jimmy 'The Cat' Hayes</div>
                            <div class="chooser_button">Search All Drops</div>

                        </div>
                    </div>


                    <div id="search_container">

                        <input type="text" name="search_term" id="search_term" autocomplete=off>
                        <button id="bttn" type="submit" class="btn btn-default">Search</button><br>
                    </div><!--End Search Container Div -->



            <div id="results_container">

                <div id="result_object">

                    <div id="audio_container">
                        <audio class="play" controls>
                        <source class='audio_results' id="src" src="" type="audio/mp3">
                        </audio>
                    </div><!--End audio container-->

                    <div id="meta_display">
                        <p id="speaker"></p>
                        <p id="transcription"></p>
                    </div><!--End meta display-->


                    <div class="gripper_container">
                        <div class="gripper_cell"><div class="gripper"></div></div>
                        <div class="gripper_cell"><div class="gripper"></div></div>
                        <div class="gripper_cell"><div class="gripper"></div></div>
                    </div>

                </div><!--End Audio Result Object-->

            </div><!--End results div -->

        </div><!-- End Sidebar Div-->



        <div id="main_wrap">

            <div id="main_grid">

            <div id="main_header"></div>
                <div class="row">
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                </div><!--End first row-->

                 <div class="row">
                    <div class="cell">


                    </div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                </div><!--End second row-->

                 <div class="row">
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                </div><!--End third row-->

                 <div class="row">
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                </div><!--End fourth row-->

                 <div class="row">
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                </div><!--End fifth row-->



            </div><!--End main grid-->



        </div><!-- End main panel wrapper-->


    </div><!--End Wrapper Div-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
    <script src='/static/js/scripts.js'></script>
    <script src='/static/js/dragdrop.js'></script>
    <script src='/static/js/process.js'></script>
    <script src='/static/js/upload.js'></script>
    <script src='/static/js/dropdown.js'></script>
  </body>

</html>