<!DOCTYPE html>
<html>
  <head>
     <meta charset='UTF-8'>
     <title>Clip That Off</title>
     <link rel='stylesheet' type='text/css' href='static/css/styles.css' media='screen'>
     <link rel="stylesheet" type ='text/css' href="static/css/font-awesome.min.css">
     <link rel="stylesheet" type ='text/css' href="static/css/bootstrap.min.css">
     <link rel="icon" href="../static/img/bryce.jpg">
     <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="swopewrapper">
        <div id="swopecontainer">
            <div id="swopetitle">I'm pretty high on Swope</div>
            <div id="swopesearch">
                <div class="form-group">
                    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Keyword" required>
                    <button type="submit" class="btn btn-default" id="search_button">Search</button>
                </div>
                <div id="swoperesults">

                </div>
                <div id="swopeobject"></div>


            </div>



        </div>



    </div>







  <script src="/static/js/jquery-3.1.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/swope.js"></script>

  </body>
